@import "../../partials/variables";

.app-header {
  display: flex;
  justify-content: space-between;
}

.app-options {
  float: right;
}

.app-nav ul {
  list-style-position: none;
  margin: 0;
  padding: 0;
}

.app-nav ul li {
  list-style-type: none;
  display: inline-block;
}
.app-title {
  margin: 0 auto;
}
.app-nav ul li a {
  display: inline-block;
  line-height: 60px;
  // padding-left: 0.5rem;
  margin-top: 3rem;
  padding-right: 0.7rem;
  color: $darkBlue;
  font-size: 0.9rem;
  font-weight: 600;
}

.app-nav ul li a:hover {
  color: $darkred;
}
.app-body {
  min-height: 850px;
}
.app-nav ul li a.active {
  color: $darkred;
}
