$darkBlue: rgb(1, 26, 47);
$white: rgb(255, 255, 255);
$graphite: rgb(35, 41, 64);
$darkred: rgb(139, 0, 0);
$gray: rgb(128, 128, 128);
$darkgray: rgb(169, 169, 169);
$cloud: rgb(189, 197, 213);
$shadow: rgb(149, 149, 149);
$tablet: 768px;
$desktop: 1440px;
