.slider {
  margin: 2rem 0 1.5rem 3rem;
  padding: 0.25rem;
  border: solid rgb(1, 26, 47) 0.1rem;
  width: 80%;
}
.input-range__slider {
  border: 1px solid rgb(1, 26, 47);
  background: rgb(1, 26, 47);
}
.input-range__track--active {
  background: rgb(1, 26, 47);
}

.search {
  color: rgb(1, 26, 47);
  border: solid white 0.2rem;
  border-radius: 0.5rem;
  width: 80%;
  height: 45%;
  padding-left: 1rem;
  background-color: white;
  &__profilePic {
    width: 1.5rem;
    height: auto;
  }
}
.chat-detail {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search__container {
  display: flex;
}
