.slider {
  padding: 1rem;
  margin-top: 1rem;
  width: 75%;
}
.category__filter {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
}
.input-range__slider {
  border: 1px solid $darkBlue;
  background: $darkBlue;
}
.input-range__track--active {
  background: $darkBlue;
}
.map__slider {
  display: flex;
}
.map__filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.search {
  color: $darkBlue;
  border: solid white 0.2rem;
  border-radius: 0.5rem;
  width: 80%;
  height: 45%;
  padding-left: 1rem;
  background-color: white;
  &__profilePic {
    // width: 1rem;
    // height: auto;
    border: solid $lightBlue 0.15rem;
    border-radius: 50%;
  }
}
.chat-detail {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -2.4rem;
  margin-bottom: 3.5rem;
  width: 40%;
  border: solid 0.1rem $darkBlue;
  height: 200px;
  &__button {
    width: 25%;
    margin-bottom: 1rem;
    margin-left: 0.8rem;
  }
  &__text {
    color: $darkBlue;
    font-size: 0.75rem;
    font-weight: 600;
    margin: 1rem 0 0 1rem;
    width: 25%;
  }
  &__distance {
    display: flex;
    width: 98%;
    height: 40%;
  }
  &__category {
    display: flex;
    width: 95%;
    height: 50%;
  }
  &__map {
    width: 55%;
  }
}
