.slider {
  margin: 2rem 0 4rem 3rem;
  padding: 0.33rem;
  border: solid $darkBlue 0.1rem;
  width: 75%;
}
// .search__container {
//   display: flex;
// }
.category__filter {
  margin-left: 5rem;
  display: flex;
}
.input-range__slider {
  border: 1px solid $darkBlue;
  background: $darkBlue;
}
.input-range__track--active {
  background: $darkBlue;
}
.map__slider {
  display: flex;
}
.map__filter {
  display: flex;
  flex-direction: column;
}
.search {
  color: $darkBlue;
  border: solid white 0.2rem;
  border-radius: 0.5rem;
  width: 80%;
  height: 45%;
  padding-left: 1rem;
  background-color: white;
  &__profilePic {
    width: 1rem;
    height: auto;
    border: solid $darkBlue 0.04rem;
  }
}
.chat-detail {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter {
  display: flex;
  justify-content: space-between;
  margin-top: -2.4rem;
  margin-bottom: 3.5rem;
  width: 98%;
  border: solid 0.3rem $darkBlue;
  height: 150px;
  &__button {
    margin-left: 1rem;
  }
  &__text {
    color: $darkBlue;
    font-size: 0.85rem;
    font-weight: 600;
    margin-left: 1rem;
  }
  &__distance {
    width: 50%;
  }
  &__category {
    width: 50%;
  }
}
