.search {
  color: darkslategray;
  border: solid white 0.2rem;
  border-radius: 0.5rem;
  width: 30%;
  height: 45%;
  padding-left: 1rem;
  padding-top: 1rem;
  font-style: italic;
  background-color: white;
  &__profilePic {
    width: 1.5rem;
    height: auto;
  }
}
