.search {
  color: rgb(1, 26, 47);
  border-radius: 0.5rem;
  width: 80%;
  height: 42%;
  padding-left: 1rem;
  background-color: white;
  display: flex;
  &__profilePic {
    width: 2.5rem;
    height: auto;
    margin-right: 0.5rem;
  }
  &__boxheader {
    border: solid 0.3rem rgb(1, 26, 47);
    background-color: rgb(1, 26, 47);
    display: flex;
    justify-content: space-between;
    max-height: 2.2rem;
  }
  &__div {
    display: flex;
    align-items: center;
    max-height: 2.2rem;
    border-bottom: solid rgb(1, 26, 47) 0.05rem;
  }
  &__name {
    padding-left: 0.5rem;
    font-size: 0.9rem;
    color: white;
  }
  &__priceTag {
    padding-right: 3rem;
  }
  &__lable {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.8rem;
  }
  &__result {
    width: 85%;
  }
  &__button {
    width: 15%;
  }
}
.apply-button {
  border-style: none;
  background-color: darkred;
  color: white;
  // padding: 1rem 3rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  outline: none;
  width: 2rem;
  height: 13.5rem;
}
