.useritem {
  font-size: 0.75rem;
}
.posters {
  &__header {
    padding: 0.6rem;
    text-align: center;
    border: solid 0.3rem $darkBlue;
    border-radius: 0.3rem;
    margin-top: -2.1rem;
  }
}
.user {
  &__container {
    display: flex;
    justify-content: space-between;
    color: $darkBlue;
  
  }
}
