.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 4rem;
  &__pin {
    display: none;
  }

  &__logo {
    text-align: center;
    width: 6rem;
    height: auto;
  }

  &__profile {
    display: flex;
    margin-right: 2rem;
  }
  &__welcome {
    font-size: 0.4rem;
    display: flex;
    align-items: center;
    color: $darkBlue;
    margin-top: -1.8rem;
    margin-bottom: 0;
  }
  &__icon {
    margin-left: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    color: $darkBlue;
  }
  &__image {
    width: 1.2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
}
@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 6rem;
    &__pin {
      width: 5rem;
      height: 6.5rem;
      margin-right: 2rem;
      display:unset;
    }

    &__logo {
      text-align: center;
      width: 22rem;
      height: auto;
    }

    &__profile {
      display: flex;
      margin-right: 2rem;
    }
    &__welcome {
      font-size: 0.6rem;
      display: flex;
      align-items: center;
      color: $darkBlue;
      margin-top: -1.8rem;
      margin-bottom: 0;
    }
    &__icon {
      margin-left: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
      color: $darkBlue;
    }
    &__image {
      width: 2.5rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
}

@media (min-width: 1440px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 6rem;
    &__pin {
      width: 5.2rem;
      height: 6.7rem;
      margin-right: 2rem;
    }

    &__logo {
      text-align: center;
      width: 22rem;
      height: auto;
    }
    &__profile {
      display: flex;
      margin-right: 2rem;
    }
    &__welcome {
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      color: $darkBlue;
      margin-top: -1.8rem;
      margin-bottom: 0;
    }
    &__icon {
      margin-left: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
      color: $darkBlue;
    }
    &__image {
      width: 2.5rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
}
