.post-form {
  border: $shadow solid 0.001rem;
  border-radius: 1rem;
  margin-top: -2.1rem;
  box-shadow: $shadow 0.5rem 0.5rem 1.5rem;
  &__content {
    padding: 0.7rem 1.7rem 1rem 1.7rem;
  }
  &__button {
    color: $white;
    background-color: $darkred;
    border-radius: 0.5rem;
    padding: 1rem 2.5rem;
    border-style: none;
    outline: none;
  }
  &__header {
    padding-left: 2rem;
    padding-bottom: 0.7rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    border-bottom: solid 0.5rem $darkBlue;
    color: $darkBlue;
  }
}
.suggestion {
  max-width: 450px;
}
