.threeButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  &__post {
    @include mybutton;
  }
  &__all {
    @include mybutton;
  }
  &__search {
    @include mybutton;
  }
  &__details {
    @include mybutton;
  }
}
#all {
  background-color: rgba(28, 128, 175, 0.883);
}
#post{
  background-color: rgba(28, 128, 175, 0.883);
}
#search{
  background-color: rgba(28, 128, 175, 0.883);
}
