.threeButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 60%;
  &__post {
    color: white;
    background: darkred;
    border-radius: 0.7rem;
    padding: 0.7rem;
    border-style: none;
    outline: none;
    &:hover {
      transform: scale(1.3);
      background-color: $darkBlue;
    }
  }
  &__all {
    color: white;
    background: darkred;
    border-radius: 0.7rem;
    padding: 0.7rem;
    border-style: none;
    outline: none;
    &:hover {
      transform: scale(1.3);
      background-color: $darkBlue;
    }
  }
  &__search {
    color: white;
    background: darkred;
    border-radius: 0.7rem;
    padding: 0.7rem;
    border-style: none;
    outline: none;
    &:hover {
      transform: scale(1.3);
      background-color: $darkBlue;
    }
  }
}
