.threeButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  margin-left: 5%;
  width: 90%;
  &__post {
    @include mybutton;
  }
  &__all {
    @include mybutton;
  }
  &__search {
    @include mybutton;
  }
  &__details {
    @include mybutton;
  }
}
#all {
  background-color: $lightBlue;
}
#post {
  background-color: $lightBlue;
}
#search {
  background-color: $lightBlue;
}
@media (min-width: 768px) {
  .threeButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    width: 100%;
    &__post {
      @include mybutton;
    }
    &__all {
      @include mybutton;
    }
    &__search {
      @include mybutton;
    }
    &__details {
      @include mybutton;
    }
  }
}
@media (min-width: 1100px) {
  .threeButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 8%;
    width: 80%;
    &__post {
      @include mybutton;
    }
    &__all {
      @include mybutton;
    }
    &__search {
      @include mybutton;
    }
    &__details {
      @include mybutton;
    }
  }
}
@media (min-width: 1440px) {
  .threeButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    width: 80%;
    &__post {
      @include mybutton;
    }
    &__all {
      @include mybutton;
    }
    &__search {
      @include mybutton;
    }
    &__details {
      @include mybutton;
    }
  }
}
