@import "./myFont.css";
body {
  font-family: sans-serif;
  font-size: 16px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 7rem;
}
.navbar__pin {
  width: 9rem;
  height: auto;
}
.navbar__logo {
  text-align: center;
  width: 22rem;
  height: auto;
  margin-left: 1.5rem;
}
.navbar__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
}
.navbar__welcome {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #01192d;
  margin-top: -1.8rem;
  margin-bottom: 0;
}
.navbar__icon {
  margin-left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: #01192d;
}
.navbar__image {
  width: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.modal {
  background-color: darkgray;
  text-align: center;
  margin: 0 auto;
  margin-top: 25%;
  line-height: 3rem;
  max-width: 22rem;
  color: #01192d;
  outline-color: darkgray;
  height: 8rem;
}
.modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem;
  background-color: white;
  border: darkgray solid 0.1rem;
}
.modal__icon {
  width: 0.875rem;
  height: 0.875rem;
}
.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}
.modal__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 32px;
  line-height: 36px;
  padding-top: 1.5625rem;
}
.modal__font {
  padding-top: 1rem;
  font-size: 14px;
  line-height: 26px;
}
.modal__button {
  width: 5.1875rem;
  font-size: 12px;
  height: 2rem;
  border-radius: 0.35rem;
  background-color: white;
  border: 1px solid #bdc5d5;
}
.modal__button-delete {
  background-color: darkred;
  text-decoration: none;
  color: white;
  outline: none;
}

.action__delete {
  border-style: none;
  background-color: darkred;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  outline: none;
  margin-bottom: 0.7rem;
  margin-top: 0;
}

.cancelButton {
  background-color: white;
  color: #01192d;
}

.slider {
  margin: 2rem 0 4rem 3rem;
  padding: 0.33rem;
  border: solid #01192d 0.1rem;
  width: 75%;
}

.category__filter {
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-range__slider {
  border: 1px solid #01192d;
  background: #01192d;
}

.input-range__track--active {
  background: #01192d;
}

.map__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search {
  color: #01192d;
  border: solid white 0.2rem;
  border-radius: 0.5rem;
  width: 80%;
  height: 45%;
  padding-left: 1rem;
  background-color: white;
}
.search__profilePic {
  border: solid rgba(28, 128, 175, 0.883) 0.15rem;
  border-radius: 50%;
}

.chat-detail {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -2.4rem;
  margin-bottom: 3.5rem;
  width: 98%;
  border: solid 0.3rem #01192d;
  height: 150px;
}
.filter__button {
  margin-left: 1rem;
}
.filter__text {
  color: #01192d;
  font-size: 0.85rem;
  font-weight: 600;
  margin-left: 1rem;
}
.filter__distance {
  width: 50%;
}
.filter__category {
  width: 50%;
}

.search {
  color: #01192d;
  border-radius: 0.5rem;
  width: 100%;
  padding-left: 1rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__profilePic {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 0.5rem;
  border: solid rgba(28, 128, 175, 0.883) 0.26rem;
  border-radius: 50%;
}
.search__boxheader {
  border: solid 0.3rem #01192d;
  background-color: #01192d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 2.2rem;
}
.search__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 2.2rem;
  border-bottom: solid #01192d 0.05rem;
}
.search__name {
  padding-left: 0.5rem;
  font-size: 0.9rem;
  color: white;
}
.search__priceTag {
  padding-right: 3rem;
}
.search__lable {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 0.8rem;
}
.search__result {
  width: 85%;
}
.search__button {
  width: 15%;
}

.apply-button {
  border-style: none;
  background-color: darkred;
  color: white;
  border-radius: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  outline: none;
  width: 2rem;
  height: 13.5rem;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55vh;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  max-height: 500px;
  overflow: auto;
  width: 380px;
  border: 1px solid #01192d;
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: white;
  margin-top: 1.2rem;
  padding-right: 0.7rem;
}

.TextArea {
  width: 97%;
  height: 55px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;
  background-color: white;
  border: 1px solid #01192d;
  outline: none;
  color: darkgray;
  letter-spacing: 1px;
  line-height: 20px;
}
.TextArea ::-webkit-input-placeholder {
  color: gray;
}
.TextArea ::-moz-placeholder {
  color: gray;
}
.TextArea :-ms-input-placeholder {
  color: gray;
}
.TextArea ::-ms-input-placeholder {
  color: gray;
}
.TextArea ::placeholder {
  color: gray;
}

.Button {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  background-color: darkred;
  outline: none;
}

.Form {
  width: 400px;
}

.MyRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #01192d;
  height: 0.7rem;
}

.MyMessage {
  width: 45%;
  color: #01192d;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.threeButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
}
.threeButtons__post {
  color: white;
  background: #01192d;
  border-radius: 0.35rem;
  padding: 0.7rem;
  height: 2rem;
  width: 7.5rem;
  border-style: none;
  outline: none;
}
.threeButtons__post:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background-color: rgba(28, 128, 175, 0.883);
}
.threeButtons__all {
  color: white;
  background: #01192d;
  border-radius: 0.35rem;
  padding: 0.7rem;
  height: 2rem;
  width: 7.5rem;
  border-style: none;
  outline: none;
}
.threeButtons__all:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background-color: rgba(28, 128, 175, 0.883);
}
.threeButtons__search {
  color: white;
  background: #01192d;
  border-radius: 0.35rem;
  padding: 0.7rem;
  height: 2rem;
  width: 7.5rem;
  border-style: none;
  outline: none;
}
.threeButtons__search:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background-color: rgba(28, 128, 175, 0.883);
}
.threeButtons__details {
  color: white;
  background: #01192d;
  border-radius: 0.35rem;
  padding: 0.7rem;
  height: 2rem;
  width: 7.5rem;
  border-style: none;
  outline: none;
}
.threeButtons__details:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background-color: rgba(28, 128, 175, 0.883);
}

#all {
  background-color: rgba(28, 128, 175, 0.883);
}

#post {
  background-color: rgba(28, 128, 175, 0.883);
}

#search {
  background-color: rgba(28, 128, 175, 0.883);
}

.post-form {
  border: #959595 solid 0.001rem;
  border-radius: 1rem;
  margin-top: -2.1rem;
  -webkit-box-shadow: #959595 0.5rem 0.5rem 1.5rem;
          box-shadow: #959595 0.5rem 0.5rem 1.5rem;
}
.post-form__content {
  padding: 0.7rem 1.7rem 1rem 1.7rem;
}
.post-form__button {
  background-color: darkred;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  border-style: none;
  outline: none;
}
.post-form__header {
  padding-left: 2rem;
  padding-bottom: 0.7rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  border-bottom: solid 0.5rem #01192d;
  color: #01192d;
}

.suggestion {
  max-width: 450px;
}

.post-form__button a {
  text-decoration: none;
  color: white;
}

.useritem {
  font-size: 0.75rem;
  line-height: 0.5rem;
}

.posters__header {
  padding: 0.6rem;
  text-align: center;
  border: solid 0.3rem #01192d;
  border-radius: 0.3rem;
  margin-top: -2.1rem;
}

.user__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #01192d;
}

.infoWindow__click {
  text-decoration: none;
}

.myMap {
  border: solid #1f1f1f 0.05rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1rem 1rem 0.8rem #727272;
          box-shadow: 1rem 1rem 0.8rem #727272;
}

.locate {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  background-color: white;
  border: solid #1f1f1f 0.05rem;
  z-index: 1;
  color: darkred;
  width: 55px;
  margin: 0 auto;
}

.locateIcon {
  cursor: pointer;
  margin-left: -0.7rem;
}

.login-container {
  text-align: center;
}

.myform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.or-separator {
  margin-top: 2rem;
}

.login-content {
  margin-top: 3rem;
  background: #fff;
  border-radius: 2px;
  width: 500px;
  display: inline-block;
  margin-top: 30px;
  vertical-align: middle;
  position: relative;
  padding: 35px;
  border: solid 0.5rem #01192d;
}

.social-btn {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
}

.social-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-btn img {
  height: 32px;
  float: left;
}

.social-btn.google {
  margin-top: 7px;
}

.signup-link {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  padding-top: 1rem;
}

.login-title {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.65);
}

input {
  width: 300px;
  height: 50px;
  border-radius: 0.5rem;
  background-color: #bdc5d5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-style: none;
  outline: none;
}

button {
  background-color: darkred;
  color: white;
  border-style: none;
  padding: 0.5rem 1.5rem;
  margin-top: 0.7rem;
  border-radius: 0.3rem;
}

.page-not-found {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
  border: 1px solid #c8c8c8;
  text-align: center;
}

.page-not-found .title {
  font-size: 50px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.page-not-found .desc {
  font-size: 20px;
  margin-bottom: 20px;
}

.go-back-btn {
  min-width: 160px;
}

.profile-container {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile-info {
  text-align: center;
}

.profile-info .profile-avatar img {
  border-radius: 50%;
  max-width: 250px;
}

.profile-info .profile-name {
  font-weight: 500;
  font-size: 18px;
}

.profile-info .profile-email {
  font-weight: 400;
}

.profile-img {
  min-width: 7rem;
}

.text-avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  background: #46b5e5;
  background: linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
  background-image: linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
}

.text-avatar span {
  line-height: 200px;
  color: #fff;
  font-size: 3em;
}

.profile-logo {
  margin-top: -2rem;
  width: 17.5rem;
  margin: 0 auto;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.details__chat {
  color: white;
  width: 45%;
  border: solid 0.03rem gray;
  background-color: #01192d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detailsAndButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.chat__box {
  background-color: #232940;
}
.chat__items {
  list-style: none;
}
.chat__userName {
  margin-left: 0.5rem;
}
.chat__profilePic {
  width: 1.35rem;
  height: auto;
  border: solid white 0.1rem;
  border-radius: 50%;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
}
.chat__item {
  list-style: none;
}
.chat__content {
  line-height: 0.2rem;
  height: 2rem;
  margin-left: 2rem;
}
.chat__input {
  margin-top: 0.5rem;
  display: none;
}
.chat__text {
  margin: 0.5rem;
  padding-bottom: 0.65rem;
  font-size: 0.95rem;
}
.chat__nestedReplies {
  margin-left: 1.5rem;
}
.chat__contents {
  margin-bottom: 0.5rem;
}
.chat__reply {
  font-size: 0.65rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.chat__line {
  border: #232940;
}

.addMessage {
  border: solid 0.5rem #01192d;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  background-color: white;
}

.posters__list {
  margin-top: 3rem;
}

.container {
  margin-right: 2rem;
  margin-left: 2rem;
  font-family: "Open Sans", sans-serif;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.myMap {
  margin-top: -2.2rem;
  height: 27rem;
  width: 33rem;
}

.mapButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.s-alert-box {
  min-width: 250px;
}

.s-alert-close::before,
.s-alert-close::after {
  width: 2px;
}

.page-not-found {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
  border: 1px solid #c8c8c8;
  text-align: center;
}

.page-not-found .title {
  font-size: 50px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.page-not-found .desc {
  font-size: 20px;
  margin-bottom: 20px;
}

.go-back-btn {
  min-width: 160px;
}
/*# sourceMappingURL=main.css.map */