body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #ebebeb;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 7rem;
}
.navbar__logo {
  width: 9rem;
  height: auto;
  margin-left: 1.5rem;
}
.navbar__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
}
.navbar__welcome {
  font-size: 1rem;
  font-style: italic;
}
.navbar__icon {
  margin-left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.modal {
  background-color: white;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 20%;
  line-height: 3rem;
  max-width: 25rem;
}
.modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem;
  background-color: #ffffff;
}
.modal__icon {
  width: 0.875rem;
  height: 0.875rem;
}
.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}
.modal__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 32px;
  line-height: 36px;
  padding-top: 1.5625rem;
}
.modal__font {
  padding-top: 1rem;
  font-size: 15px;
  line-height: 26px;
}
.modal__button {
  width: 10.1875rem;
  height: 2.25rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  border: 1px solid #bdc5d5;
}
.modal__button-delete {
  background-color: #c94515;
  text-decoration: none;
  color: #ffffff;
}

.user__posterList {
  color: darkslategray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.slider {
  margin: 3rem;
  border: solid white 0.4rem;
}

.input-range__slider {
  border: 1px solid darkslategray;
  background: darkslategray;
}

.input-range__track--active {
  background: darkslategray;
}

.search {
  color: darkslategray;
  border: solid white 0.2rem;
  border-radius: 0.5rem;
  width: 30%;
  height: 45%;
  padding-left: 1rem;
  padding-top: 1rem;
  font-style: italic;
  background-color: white;
}
.search__profilePic {
  width: 1.5rem;
  height: auto;
}

.chat-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55vh;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  max-height: 500px;
  overflow: auto;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  background-color: white;
}

.TextArea {
  width: 98%;
  height: 100px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;
  background-color: white;
  border: 1px solid black;
  outline: none;
  color: darkgray;
  letter-spacing: 1px;
  line-height: 20px;
}
.TextArea ::-webkit-input-placeholder {
  color: gray;
}
.TextArea ::-moz-placeholder {
  color: gray;
}
.TextArea :-ms-input-placeholder {
  color: gray;
}
.TextArea ::-ms-input-placeholder {
  color: gray;
}
.TextArea ::placeholder {
  color: gray;
}

.Button {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  background-color: darkred;
}

.Form {
  width: 400px;
}

.MyRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

.MyMessage {
  width: 45%;
  color: black;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.container {
  margin-right: 2rem;
  margin-left: 2rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */