@import "../../partials/general";
@import "../../partials/variables";
@import "../../partials/mixin";
@import "./NavHeader";
@import "../userPageStyle/modal";
@import "../userPageStyle/UserPage";
@import "../search/searchPoster";
@import "../search/showPosterDetail";
@import "../search/searchPage";
@import "../search/chat";

.container {
  margin-right: 2rem;
  margin-left: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
