@import "../../partials/general";
@import "../../partials/variables";
@import "../../partials/mixin";
@import "./NavHeader";
@import "../userPageStyle/modal";
@import "../userPageStyle/UserPage";
@import "../search/searchPoster";
@import "../search/showPosterDetail";
@import "../search/searchPage";
@import "../search/chat";
@import "./threeButton";
@import "./posterForm";
@import "../userPageStyle/posterItem";
@import "./map";
@import "./myFont.css";
.container {
  margin-right: 2rem;
  margin-left: 2rem;
  font-family: "Open Sans", sans-serif;
}
.main {
  display: flex;
  justify-content: space-between;
}
.myMap {
  margin-top: 3.43rem;
  height: 30rem;
  width: 35rem;
}
.mapButton {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
