@import "../../partials/general";
@import "../../partials/variables";
@import "../../partials/mixin";
@import "./NavHeader";
@import "../userPageStyle/modal";
@import "../userPageStyle/UserPage";
@import "../search/searchPoster";
@import "../search/showPosterDetail";
@import "../search/searchPage";
@import "../search/chat";
@import "./threeButton";
@import "./posterForm";
.container {
  margin-right: 2rem;
  margin-left: 2rem;
}
.main {
  display: flex;
  justify-content: space-between;
}
.myMap {
  height: 35rem;
  width: 35rem;
}
.mapButton {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
