@import "./general";
@import "./variables";
@import "./mixin";
@import "../components/Navbar/NavHeader";

.container {
  margin-right: 2rem;
  margin-left: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
